BITCOIN_RPC_URL=
BITCOIN_RPC_USER=
BITCOIN_RPC_PASS=
SPACED_BIN=/srv/pirate-spaces/bin/spaced-9eb7862
SPACED_CHAIN=mainnet
SPACED_DATA_DIR=/srv/pirate-spaces/data/spaced
SPACED_RPC_USER=
SPACED_RPC_PASS=
SPACED_RPC_PORT=7225
SPACED_JOBS=4
