HNS_PUBLIC_GATEWAY_HOST=127.0.0.1
HNS_PUBLIC_GATEWAY_PORT=4049
HNS_PUBLIC_GATEWAY_ROOT_SUFFIX=pirate
HNS_PUBLIC_GATEWAY_EXTERNAL_SCHEME=https
HNS_PUBLIC_API_ORIGIN=https://api.pirate.sc
HNS_PUBLIC_APP_ORIGIN=https://pirate.sc
