TINYBIRD_TOKEN=xxxxxxx
TINYBIRD_URL=https://api.us-east.aws.tinybird.co

TINYBIRD_INGEST_TOKEN=xxxxxxx
TINYBIRD_HOST=https://api.us-east.aws.tinybird.co
TINYBIRD_EVENTS_DATASOURCE=analytics_events_raw

ANALYTICS_ENABLED=true
ANALYTICS_HMAC_SECRET=replace-with-random-hex
