SUBSD_IMAGE=t3333333k/community-protocol-subsd@sha256:be9ac7cff697a576d7926707531e9b0c580c5368dfe7b06e59dd12c80cbf5618
SUBSD_PORT=7777
SUBSD_DATA_DIR=/var/lib/pirate/subsd/data
SUBSD_RPC_URL=http://127.0.0.1:7226
SUBSD_WALLET=default
# Optional, use if spaced requires RPC auth.
# SUBSD_RPC_USER=
# SUBSD_RPC_PASSWORD=
# SUBSD_RPC_COOKIE=
RUST_LOG=subsd=info,tower_http=info
