server {
  listen 80;
  server_name ~^(?<label>[a-z0-9-]+)\.pirate$;

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://127.0.0.1:4049;
  }
}
