HNS_DANE_PROBE_ADDRESS=94.103.168.161
HNS_DANE_PROBE_HOST=app.pirate
HNS_DANE_SERVERS=94.103.168.161,81.15.150.159
HNS_DANE_TLSA_OWNERS=_443._tcp.pirate.,_443._tcp.app.pirate.,_443._tcp.api.pirate.,_443._tcp.profile.pirate.,*.pirate.
